<html>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@700&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            color: #212529;
        }
        .body-text {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            margin: 0;
        }
        .template-wrapper a {
            text-decoration: none;
        }
        .template-wrapper {
            background-color: #FAFAFA;
            padding-top: 42px;
            padding-bottom: 42px;
        }
        .title {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 600;
            margin: 0;
        }
        .regards-div p{
            margin: 0;
        }
        .regards-div {
            margin-top: 20px;
        }
        .pop-black-300 {
            color: #000;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
        }
        .margin-15 {
          margin: 15px;
        }
        .create-acc-link {
            margin: 32px 0px;
            background-color: #423ED3;
            border-radius: 6px;
            padding: 12px 16px;
            color: #F9FAFB !important;
        }
        .title.salutation {
          margin: 0;
          font-size: 16px;
        }
        .brand-text {
            font-family: 'Montserrat', sans-serif;
            font-size: 32px;
            font-weight: 700;
        }
        .pop-16-400 {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
        .child-margin > *, .margin-b-32 {
            margin-bottom: 32px;
        }
        .content {
            background-color: #fff;
            border-radius: 16px;
            margin: 0 auto;
            max-width: 500px;
            padding: 60px;
        }
        .pop-16-700 {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 700;
        }
        .blue-pop-16 {
            color: #423ED3;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="template-wrapper">
        <div class="content">
            <div class="child-margin margin-b-32">
                <div class="brand-logo">
                    <img style="max-width: 230px" src={{logo}} alt="Anyhow"/>
                </div>
                <p class="title salutation">Dear {{firstName}},</p>
                <p class="body-text">We have received a request to reset your password for your Anyhow account. To ensure the security of your account, please follow the instructions below to reset your password.</p>
                <ol>
                  <li class="body-text">Click on the following link to access the password reset page: <div class="margin-15"><a class="create-acc-link" target="_blank" href="{{resetPasswordLink}}">Password Reset Link</a></div></li>
                  <li class="body-text">On the password reset page, you will be prompted to enter a new password. Choose a strong password that is unique and not easily guessable.</li>
                  <li class="body-text">After entering your new password, click the "Reset Password" button to save the changes.</li>
                </ol>
            </div>
            <div>
                <p class="body-text margin-b-32">If you did not initiate this password reset request, please disregard this email. Your account will remain secure, and no further action is required.</p>
                <p class="body-text margin-b-32">For security reasons, please do not share this email with anyone. Our support team will never ask you to provide your password via email or any other means.</p>
                <p class="body-text margin-b-32">If you require any assistance or have further questions, please feel free to contact our support team at <a class="blue-pop-16" href="mailto:support@anyhow.to">Support Center</a> <span class="pop-16-700">or</span> <a class="blue-pop-16" target="_blank" href="https://www.anyhow.to">contact us</a><span class="pop-16-700">.</span></p>
                <p class="body-text">Thank you for using Anyhow. We appreciate your cooperation in maintaining the security of your account.</p>
            </div>
            <div class="pop-16-400 regards-div">
                <p>Thank you,</p>
                <p>Anyhow Admin</p>
            </div>
        </div>
    </div>
</body>
</html>